<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Ellis Recipes</title>
    <meta name="description" content="Adaptations of recipes found on the internet" />
    <meta name="author" content="elliscode.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'home/img/favicon.png' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/stylesheet.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/loader.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}" disabled />
    {% load static %}
    <noscript>
        {% load static %}
        <link rel="stylesheet" href="{% static 'home/css/noscript.css' %}" />
    </noscript>
</head>

<body id="body">
    <div id="wrapper">
        <h1>Ellis Recipes</h1>
        <div id="option-buttons">
            {% load static %}
            <img id="set-screen-lock" src="{% static 'home/img/screen-lock-off.png' %}" alt="Set screen lock">
        </div>
        <div id="loading">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div id="search-group">
            <input type="text" id="search" placeholder="Search..." />
            <button id="search-clear">&times;</button>
        </div>
        <div id="recipes">
            <!-- run this regex to find invalid characters [^\x08-\x7f] -->
            <!-- recipe divs-->
{% for recipe in recipes %}
<div xmlns="http://www.w3.org/1999/xhtml" class="card">
    {% for line in recipe %}
        {% if not line.type %}
            <ul>
                {% for li in line %}
                    <li>{{li.content}}</li>
                {% endfor %}
            </ul>
        {% elif line.type == 'h1' %}
            <h3><a name="{{line.content|lower}}">{{line.content}}</a></h3>
        {% elif line.type == 'h2' %}
            <h4>{{line.content}}</h4>
        {% elif line.type == 'h3' %}
            <h5>{{line.content}}</h5>
        {% elif line.type == 'h4' %}
            <h6>{{line.content}}</h6>
        {% else %}
            <p>{{line.content}}</p>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
        <!-- end recipe divs-->
        </div> 
    </div>
    <div id="info">        <p>text copied</p>
    </div>
</body>
{% load static %}
<script data-main="{% static 'home/js/main_RecipeFormattingMain' %}" src="{% static 'home/js/require.js' %}"></script>

</html>