<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Ellis Recipes</title>
    <meta name="description" content="Adaptations of recipes found on the internet" />
    <meta name="author" content="elliscode.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'home/img/favicon.png' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/stylesheet.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/loader.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}" disabled />
    {% load static %}
    <noscript>
        {% load static %}
        <link rel="stylesheet" href="{% static 'home/css/noscript.css' %}" />
    </noscript>
</head>

<body id="body">
    <div id="wrapper">
        <h1>Ellis Recipes</h1>
        <div id="option-buttons">
            {% load static %}
            <img id="set-screen-lock" src="{% static 'home/img/screen-lock-off.png' %}" alt="Set screen lock">
        </div>
        <div id="loading">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div id="search-group">
            <input type="text" id="search" placeholder="Search..." />
            <button id="search-clear">&times;</button>
        </div>
        <div id="recipes">
            <!-- run this regex to find invalid characters [^\x08-\x7f] -->
            <!-- recipe divs-->
{% for recipe in recipes %}
    <div xmlns="http://www.w3.org/1999/xhtml" class="card" id="{{recipe.id|upper}}" servings="{{recipe.servings}}">
        <h3 class="title">{{recipe.title}}</h3>
        <div style="display: none; position: relative; padding-bottom: 50px;">
            <div class="servings">
                <label>Servings: </label>
                <input type="text" originalvalue="{{recipe.servings}}" inputmode="decimal">
                {% load static %}
                <img class="reset" src="{% static 'home/img/reset.png' %}" related="{{recipe.id|upper}}">
                {% load static %}
                <img class="halve" src="{% static 'home/img/divide_by_two.png' %}" related="{{recipe.id|upper}}">
                {% load static %}
                <img class="double" src="{% static 'home/img/times_two.png' %}" related="{{recipe.id|upper}}">
            </div>
            {% for line in recipe.markdown %}
                {% if not line.type %}
                    <ul>
                        {% for li in line %}
                            <li>
                                {% for item in li.content %}
                                    {% if item.item_type == 'number' %}
                                        <span originalvalue="{{item.value}}" class="quantity">{{item.value}}</span>
                                    {% else %}
                                        {{item.value}}
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% elif line.type == 'h1' %}
                {% elif line.type == 'h2' %}
                    <h4>
                        {% for item in line.content %}
                            {% if item.item_type == 'number' %}
                                <span>{{item.value}}</span>
                            {% else %}
                                {{item.value}}
                            {% endif %}
                        {% endfor %}
                    </h4>
                {% elif line.type == 'h3' %}
                    <h5>
                        {% for item in line.content %}
                            {% if item.item_type == 'number' %}
                                <span>{{item.value}}</span>
                            {% else %}
                                {{item.value}}
                            {% endif %}
                        {% endfor %}
                    </h5>
                {% elif line.type == 'h4' %}
                    <h6>
                        {% for item in line.content %}
                            {% if item.item_type == 'number' %}
                                <span>{{item.value}}</span>
                            {% else %}
                                {{item.value}}
                            {% endif %}
                        {% endfor %}
                    </h6>
                {% else %}
                    <p>
                        {% for item in line.content %}
                            {% if item.item_type == 'number' %}
                                <span>{{item.value}}</span>
                            {% else %}
                                {{item.value}}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
            <div class="close-div">
                <button class="close-recipe">&times;</button>
            </div>
                {% load static %}
            <img class="copy" src="{% static 'home/img/copy.png' %}" related="{{recipe.id|upper}}">
                {% load static %}
            <img class="reddit" src="{% static 'home/img/reddit_button.png' %}" related="{{recipe.id|upper}}">
                {% load static %}
            <img class="cronometer" src="{% static 'home/img/cronometer_button.png' %}" related="{{recipe.id|upper}}">
                {% load static %}
            <img class="ellis" src="{% static 'home/img/print.png' %}" related="{{recipe.id|upper}}">
                {% load static %}
            <img class="share" src="{% static 'home/img/share_button.png' %}" related="{{recipe.id|upper}}">
            {% if recipe.link is not None %}
                <a href="{{recipe.link}}">
                    {% load static %}
                    <img class="link" src="{% static 'home/img/link.png' %}">
                </a>
            {% endif %}
            <div class="category" style="display: none;">{{recipe.category}}</div>
            <div class="tags">
                {% for tag in recipe.tags %}
                    <span class="tag">{{tag}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
        <!-- end recipe divs-->
        </div>
    </div>
    <div id="info">        <p>text copied</p>
    </div>
</body>
{% load static %}
<script data-main="{% static 'home/js/main_RecipeFormattingMain' %}" src="{% static 'home/js/require.js' %}"></script>

</html>